= turbo_frame_tag 'users-follow' do
  .d-flex.justify-content-center.gap-4.mb-3
    .fw-semibold.text-muted= "#{user.active_followings.count}フォロー"
    .fw-semibold.text-muted= "#{user.passive_followings.count}フォロワー"
  - if user_signed_in? && current_user != user
    - if current_user.follow?(user)
      = link_to 'フォロー解除', user_following_path(user), class: 'btn btn-outline-secondary w-100', data: { turbo_method: :delete }
    - else
      = link_to 'フォローする', user_following_path(user), class: 'btn btn-outline-secondary w-100', data: { turbo_method: :post }
