.card.p-3.mb-3
  .card-body
    = link_to user_path(user), class: 'text-decoration-none text-black' do
      .d-flex.justify-content-center.align-items-center.flex-column
        = image_tag avatar_path(user.avatar), class: 'user__avatar rounded-circle'
        .fw-bolder= user.name
        .fw-semibold
          = user.articles.size
          %span.text-muted 記事
  %hr
  = render 'users/followings/follow_info', user: user
  %hr
  .d-flex.justify-content-center
    = link_to 'フォローリスト', user_followings_path(user), class: 'text-secondary'
