%h1= "#{@user.name}のページ"
.row.p-3
  .col-lg-3
    = render 'users/user', user: @user
  .col-lg-9
    %nav.mb-3
      .nav.nav-tabs{:role => "tablist"}
        %button.nav-link.active{data: {"bs-target": ".nav-my-articles", "bs-toggle": "tab"}, :role => "tab", :type => "button"} 作成した記事
        %button.nav-link{data: {"bs-target": ".nav-favorites", "bs-toggle": "tab"}, :role => "tab", :type => "button"} いいねした記事
    .tab-content
      .nav-my-articles.tab-pane.fade.show.active{role: "tabpanel", tabindex: "0"}
        = render 'articles/index', articles: @articles
      .nav-favorites.tab-pane.fade{role: "tabpanel", tabindex: "0"}
        = render 'articles/favorites/articles', articles: @favorite_articles
