= turbo_frame_tag 'articles-favorite' do
  - if current_user.favorites.find_by(article_id: article.id)
    = link_to article_favorite_path(article, favorite: { article_id: article.id }), class: 'btn btn-danger', data: { turbo_method: :delete } do
      = image_tag 'favorite.svg', class: 'articles__favorite'
  - else
    = link_to article_favorite_path(article, favorite: { article_id: article.id }), class: 'btn btn-danger', data: { turbo_method: :post } do
      = image_tag 'not_favorite.svg', class: 'articles__favorite'
